.controls
  %ul.nav.nav-tabs{ :style => 'margin-top:5px', :role => 'tablist', :id => 'mt' }
    - field.tabs.each do |tab|
      %li.nav-item{ class: ('active' if tab.active?), :role => 'presentation' }
        = link_to tab.label, "#", role: 'tab', 'aria-controls': tab.id, data: { 'bs-toggle': "tab", 'bs-target': "##{tab.id}"}, class: "nav-link #{'active' if tab.active?} #{'text-danger' unless tab.valid?}", 'aria-selected': (tab.active? ? 'true' : 'false')

.tab-content#mtContent
  - field.tabs.each do |tab|
    = form.fields_for field.name, tab.translation, wrapper: false do |f|
      .fields.tab-pane{ 'role': 'tabpanel', 'aria-labelledby': "#{tab.id}-tab", id: tab.id, class: ('active' if tab.active?) }
        = f.generate(action: :nested, model_config: field.associated_model_config, nested_in: field)
